<h2>Products</h2>
<br>
<h4>Listado de productos</h4>
{{#each products}}
  <ul>
    <li><strong>{{title}}</strong></li>
    <li>{{id}}</li>
    <li>{{price}}</li>
    <li>{{description}}</li>
    <li>{{code}}</li>
    <li>{{category}}</li>
  </ul>
{{/each}}
